<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <base href="http://localhost:4600">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
        crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="stylesheets/admin.css">
</head>

<body>
   
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                <div class="side-menu">
                    <ul class="side-menu-list">
                        <li >
                            <a href="">
                                <i class="fas fa-home"></i>
                                <span style="color: #DCDCDC">Dashboard</span>
                                
                            </a>
                            
                        </li>
                        <li >
                            <a href="#" href="" data-toggle="collapse" data-target="#category">
                                <i class="fas fa-location-arrow"></i>
                                <span style="color: #DCDCDC">Category</span>
                                
                            </a>
                            <ul id="category" class="collapse">
                                <li><a href="">Danh sách</a></li>
                                <li><a href="">Thêm</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="" data-toggle="collapse" data-target="#product">
                                <i class="fas fa-copy"></i>
                                <span style="color: #DCDCDC">Sản Phẩm</span>
                                
                            </a>
                            <ul id="product" class="collapse">
                                <li><a href="">Danh sách</a></li>
                                <li><a href="">Thêm</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="" href="" data-toggle="collapse" data-target="#demo">
                                <i class="fas fa-shopping-cart"></i>
                                <span style="color: #DCDCDC">Đơn Hàng</span>
                                
                            </a>
                            <ul id="demo" class="collapse">
                                <li><a href="">Danh sách</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div class="row">
                    <div class="content-header col-lg-5">
                        <h3>DANH SÁCH CATEGORY</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="content-body col-lg-12">
                        <table id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Name không dấu</th>
                                    <th>Actiom</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <% cate.forEach(function(pro){ %>
                                <tr>
                                    <td><%= pro.name  %></td>
                                    <td><%= pro.url  %></td>
                                    <td>
                                        <a href="/admin/cate/sua-cate/<%= pro._id%>"><button class="btn btn-primary">Sửa</button></a>
                                        <a href=""><button class="btn btn-danger">Xóa</button></a>
                                    </td>
                                    
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                
                
            </div>
            
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
            
           $('.side-menu ul li').on('click', function(e) {
                e.preventDefault();
                //$(this).find('.show-ul').addClass('active');
                //$('.side-menu-list ul').toggleClass('active')
           })
                
        });
    </script>
</body>
</html>



