<footer id="footer">
    <section class="footersocial">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-6 span3 contact">
            <h2>Contact Us </h2>
            <ul>
              <li class="phone"> +123 456 7890, +123 456 7890</li>
              <li class="mobile"> +123 456 7890, +123 456 78900</li>
              <li class="email"> test@test.com</li>
              <li class="email"> test@test.com</li>
            </ul>
          </div>
          <div class="col-lg-6 span3 twitter">
            <h2>Twitter </h2>
            <div id="twitter">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footerlinks">
      <div class="container">
        <div class="col-lg-6 info">
          <ul>
            <li><a href="#">Privacy Policy</a>
            </li>
            <li><a href="#">Terms &amp; Conditions</a>
            </li>
            <li><a href="#">Affiliates</a>
            </li>
            <li><a href="#">Newsletter</a>
            </li>
          </ul>
        </div>
        <div id="col-lg-6 footersocial">
          <a href="#" title="Facebook" class="facebook">Facebook</a>
          <a href="#" title="Twitter" class="twitter">Twitter</a>
          <a href="#" title="Linkedin" class="linkedin">Linkedin</a>
          <a href="#" title="rss" class="rss">rss</a>
          <a href="#" title="Googleplus" class="googleplus">Googleplus</a>
          <a href="#" title="Skype" class="skype">Skype</a>
          <a href="#" title="Flickr" class="flickr">Flickr</a>
        </div>
      </div>
    </section>
    
    
  </footer>

 
  <!-- javascript -->
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  
  <script async="async" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <script async="async" src="./javascript/jquerylazyload.js"></script>
  <script async="async" src="./javascript/js-signup.js"></script>
  <script>
      $(document).ready(function() {
        $('img.lazyload').lazyload({
          effect : "fadeIn" 
        });
        
      })
  </script>
  </body>
  </html>