<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
    <img class="lazyload" data-original="./image/goi-dau.jpg"  alt="..."><br>
    <img class="lazyload"  data-original="./image/goi-dau1.jpg" alt="..."><br>
    <img class="lazyload"  data-original="./image/goi-dau2.jpg" alt="..."><br>  
    <img class="lazyload"  data-original="./image/pro1-1.jpg" alt="..."><br>
    <img class="lazyload"  data-original="./image/pro1-3.jpg" alt="..."><br>
    <img class="lazyload"  data-original="./image/pro1-3.jpg" alt="..."><br>
    <img class="lazyload"  data-original="./image/pro1-1.jpg" alt="..."><br>
    

    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
    <script src="./javascript/jquerylazyload.js"></script>
  
    <script>
        $(document).ready(function() {
          $('img.lazyload').lazyload({
            
          });
        })
    </script>
</body>
</html>