<% include ../layouts/header %>
    <div class="user">
        <p>Xin chao <%= userLocal%><%= userFb%></p>
        <a href="/user/logout">Logout</a>
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">       
    </div>
    
<% include ../layouts/footer %>